{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>TestOpros</title>
    
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo.png' %}"/>
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/main.css'%}" rel="stylesheet">

  </head>
  <body>
    <main role="main">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="card mt-5">
          <div class="card-body">
          {% block content %}

          {% endblock %}
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
